{
	"apiKey": {
		"defaultValue": "",
		"dataType": "password",
		"description": "Your OpenWeatherMap api key"
	},
	"baseLocation": {
		"defaultValue": "Berlin",
		"dataType": "string",
		"description": "The location to use if you do not specify any in your request"
	},
	"units": {
		"defaultValue": "metric",
		"dataType": "list",
		"values": ["metric", "imperial", "kelvin"],
		"description": "The units to use to display the values"
	}
}
