# EditorConfig is awesome: https://EditorConfig.org

# top-most EditorConfig file
root = true

[*]
indent_style = tab
insert_final_newline = true
charset = utf-8

[*.sh]
end_of_line = lf

[{dialog-schema.json,dialog-schema.sh,install-schema.json,install-schema.sh,package.json,.travis.yml}]
indent_style = space
indent_size = 2
