skillValidation:
  stage: test
  except:
  - schedules
  image: python:slim-buster
  before_script:
  - python3 -m pip install --upgrade pip
  - pip3 install alice-sk
  script:
  - alice-sk validate --paths PublishedSkills/*/*/ --token $GITHUB_TOKEN --branch $CI_COMMIT_REF_NAME
  allow_failure: true


mypyValidation:
  stage: test
  except:
  - schedules
  image: python:slim-buster
  before_script:
  - python3 -m pip install --upgrade pip
  - pip3 install mypy
  script:
  - ./ci_sources/mypy.sh
  allow_failure: true


sonarqube-check:
  stage: test
  except:
  - schedules
  image:
    name: sonarsource/sonar-scanner-cli:latest
    entrypoint: [""]
  variables:
    SONAR_TOKEN: $SONAR_TOKEN
    SONAR_HOST_URL: "https://sonarcloud.io"
    GIT_DEPTH: 0
  script:
    - sonar-scanner -Dsonar.qualitygate.wait=true -Dsonar.projectKey=project-alice-assistant_ProjectAliceSkills -Dsonar.organization=project-alice-assistant
  allow_failure: true


store:deploy:
  stage: deploy
  image: python:slim-buster
  before_script:
  - 'which ssh-agent || ( apt-get update -y && apt-get install openssh-client -y )'
  - eval $(ssh-agent -s)
  - ssh-add <(echo "$SERVER_SSH_PRIV_KEY" | base64 -d)
  - python3 -m pip install --upgrade pip
  - pip3 install requests jinja2
  script:
  - python3 ci_sources/store.py
  - ssh -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null $USERNAME@$DOMAIN "mkdir -p $DOMAIN/assets/$CI_COMMIT_REF_NAME/store"
  - scp -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null -rp store/* "$USERNAME@$DOMAIN:$DOMAIN/assets/$CI_COMMIT_REF_NAME/store"


skill:zip:deploy:
  stage: deploy
  image: ubuntu:latest
  except:
  - schedules
  before_script:
  - 'which ssh-agent || ( apt-get update -y && apt-get install openssh-client -y )'
  - eval $(ssh-agent -s)
  - ssh-add <(echo "$SERVER_SSH_PRIV_KEY" | base64 -d)
  - apt-get update -qq && apt-get install -y -qq zip
  script:
  - ./ci_sources/skill_zip.sh
  - ssh -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null $USERNAME@$DOMAIN "mkdir -p $DOMAIN/assets/$CI_COMMIT_REF_NAME/skills"
  - scp -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null -rp *.zip "$USERNAME@$DOMAIN:$DOMAIN/assets/$CI_COMMIT_REF_NAME/skills"
