[submodule "PublishedSkills/skill_AliceCore"]
	path = PublishedSkills/AliceCore
	url = https://github.com/project-alice-assistant/skill_AliceCore
[submodule "PublishedSkills/skill_AliceSatellite"]
	path = PublishedSkills/AliceSatellite
	url = https://github.com/project-alice-assistant/skill_AliceSatellite
[submodule "PublishedSkills/skill_BringShoppingList"]
	path = PublishedSkills/BringShoppingList
	url = https://github.com/project-alice-assistant/skill_BringShoppingList
[submodule "PublishedSkills/skill_Calculator"]
	path = PublishedSkills/Calculator
	url = https://github.com/project-alice-assistant/skill_Calculator
[submodule "PublishedSkills/skill_ContextSensitive"]
	path = PublishedSkills/ContextSensitive
	url = https://github.com/project-alice-assistant/skill_ContextSensitive
[submodule "PublishedSkills/skill_DateDayTimeYear"]
	path = PublishedSkills/DateDayTimeYear
	url = https://github.com/project-alice-assistant/skill_DateDayTimeYear
[submodule "PublishedSkills/skill_FindMyPhone"]
	path = PublishedSkills/FindMyPhone
	url = https://github.com/project-alice-assistant/skill_FindMyPhone
[submodule "PublishedSkills/skill_FreeCurrencyConverterDotCom"]
	path = PublishedSkills/FreeCurrencyConverterDotCom
	url = https://github.com/project-alice-assistant/skill_FreeCurrencyConverterDotCom
[submodule "PublishedSkills/skill_GarageDoorControl"]
	path = PublishedSkills/GarageDoorControl
	url = https://github.com/project-alice-assistant/skill_GarageDoorControl
[submodule "PublishedSkills/skill_IcanhazdadjokeDotCom"]
	path = PublishedSkills/IcanhazdadjokeDotCom
	url = https://github.com/project-alice-assistant/skill_IcanhazdadjokeDotCom
[submodule "PublishedSkills/skill_Ifttt"]
	path = PublishedSkills/Ifttt
	url = https://github.com/project-alice-assistant/skill_Ifttt
[submodule "PublishedSkills/skill_InternationalSpaceStation"]
	path = PublishedSkills/InternationalSpaceStation
	url = https://github.com/project-alice-assistant/skill_InternationalSpaceStation
[submodule "PublishedSkills/skill_LocalButtonPress"]
	path = PublishedSkills/LocalButtonPress
	url = https://github.com/project-alice-assistant/skill_LocalButtonPress
[submodule "PublishedSkills/skill_Minigames"]
	path = PublishedSkills/Minigames
	url = https://github.com/project-alice-assistant/skill_Minigames
[submodule "PublishedSkills/skill_MpdClient"]
	path = PublishedSkills/MpdClient
	url = https://github.com/project-alice-assistant/skill_MpdClient
[submodule "PublishedSkills/skill_MqttBridge"]
	path = PublishedSkills/MqttBridge
	url = https://github.com/project-alice-assistant/skill_MqttBridge
[submodule "PublishedSkills/skill_Netatmo"]
	path = PublishedSkills/Netatmo
	url = https://github.com/project-alice-assistant/skill_Netatmo
[submodule "PublishedSkills/skill_OpenWeatherMap"]
	path = PublishedSkills/OpenWeatherMap
	url = https://github.com/project-alice-assistant/skill_OpenWeatherMap
[submodule "PublishedSkills/skill_PhilipsHue"]
	path = PublishedSkills/PhilipsHue
	url = https://github.com/project-alice-assistant/skill_PhilipsHue
[submodule "PublishedSkills/skill_PrinterControl"]
	path = PublishedSkills/PrinterControl
	url = https://github.com/project-alice-assistant/skill_PrinterControl
[submodule "PublishedSkills/skill_RandomUselessFacts"]
	path = PublishedSkills/RandomUselessFacts
	url = https://github.com/project-alice-assistant/skill_RandomUselessFacts
[submodule "PublishedSkills/skill_RedQueen"]
	path = PublishedSkills/RedQueen
	url = https://github.com/project-alice-assistant/skill_RedQueen
[submodule "PublishedSkills/skill_RockPaperScissors"]
	path = PublishedSkills/RockPaperScissors
	url = https://github.com/project-alice-assistant/skill_RockPaperScissors
[submodule "PublishedSkills/skill_SpeedTest"]
	path = PublishedSkills/SpeedTest
	url = https://github.com/project-alice-assistant/skill_SpeedTest
[submodule "PublishedSkills/skill_Tasmota"]
	path = PublishedSkills/Tasmota
	url = https://github.com/project-alice-assistant/skill_Tasmota
[submodule "PublishedSkills/skill_Speller"]
	path = PublishedSkills/Speller
	url = https://github.com/project-alice-assistant/skill_Speller
[submodule "PublishedSkills/skill_YoutubeJukebox"]
	path = PublishedSkills/YoutubeJukebox
	url = https://github.com/project-alice-assistant/skill_YoutubeJukebox
[submodule "PublishedSkills/skill_Zigbee2Mqtt"]
	path = PublishedSkills/Zigbee2Mqtt
	url = https://github.com/project-alice-assistant/skill_Zigbee2Mqtt
[submodule "PublishedSkills/skill_Wikipedia"]
	path = PublishedSkills/Wikipedia
	url = https://github.com/project-alice-assistant/skill_Wikipedia
[submodule "PublishedSkills/skill_Telemetry"]
	path = PublishedSkills/Telemetry
	url = https://github.com/project-alice-assistant/skill_Telemetry
[submodule "PublishedSkills/skill_TVProgram"]
	path = PublishedSkills/TVProgram
	url = https://github.com/project-alice-assistant/skill_TVProgram
[submodule "PublishedSkills/TextInputWidget"]
	path = PublishedSkills/TextInputWidget
	url = https://github.com/project-alice-assistant/skill_TextInputWidget.git
[submodule "PublishedSkills/SpeechVisualizer"]
	path = PublishedSkills/SpeechVisualizer
	url = https://github.com/project-alice-assistant/skill_SpeechVisualizer.git
[submodule "PublishedSkills/Userfacts"]
	path = PublishedSkills/Userfacts
	url = https://github.com/project-alice-assistant/skill_Userfacts.git
[submodule "PublishedSkills/Sonos"]
	path = PublishedSkills/Sonos
	url = https://github.com/project-alice-assistant/skill_Sonos.git
[submodule "PublishedSkills/CoronaVirus"]
	path = PublishedSkills/CoronaVirus
	url = https://github.com/project-alice-assistant/skill_CoronaVirus.git
[submodule "PublishedSkills/OvenTemperatureConversion"]
	path = PublishedSkills/OvenTemperatureConversion
	url = https://github.com/project-alice-assistant/skill_OvenTemperatureConversion.git
[submodule "PublishedSkills/Velux"]
	path = PublishedSkills/Velux
	url = https://github.com/project-alice-assistant/skill_Velux.git
[submodule "PublishedSkills/Reminder"]
	path = PublishedSkills/Reminder
	url = https://github.com/project-alice-assistant/skill_Reminder.git
[submodule "PublishedSkills/AqaraDoorAndWindowSensor"]
	path = PublishedSkills/AqaraDoorAndWindowSensor
	url = https://github.com/project-alice-assistant/skill_AqaraDoorAndWindowSensor.git
[submodule "PublishedSkills/RandomIpDevice"]
	path = PublishedSkills/RandomIpDevice
	url = https://github.com/project-alice-assistant/skill_RandomIpDevice.git
[submodule "PublishedSkills/Broadcast"]
	path = PublishedSkills/Broadcast
	url = https://github.com/project-alice-assistant/skill_Broadcast.git
