.WorldMap {
	width: 100%;
	height: 100%;
	background-color: #636363;
	color: #d1d1d1;
	padding: 5px;
	box-sizing: border-box;
}

.WorldMap .icon {
	width: 100%;
	font-size: 1.5em;
}

.WorldMap_map {
	position: absolute;
	margin-top: 70px;
	width: 690px;
	height: 345px;
	background-image: url("../img/worldmap.gif");
	background-repeat: no-repeat;
	background-size: contain;
}

.WorldMap_satellite {
	position: absolute;
	top: -15px;
	left: -10px;
	width: 30px;
	height: 30px;
	min-height: 30px;
	font-size: 1.5em;
	color: white;
}
