{
	"phueAutodiscoverFallback": {
		"defaultValue": true,
		"dataType": "boolean",
		"description": "Allow bridge auto discovery"
	},
	"phueBridgeIp": {
		"defaultValue": "",
		"dataType": "string",
		"description": "Philips Hue bridge IP"
	}
}
