name: Skills Validation

on: [push]

jobs:
  build:

    runs-on: ubuntu-latest
    strategy:
      max-parallel: 4
      matrix:
        python-version: [3.7]

    steps:
    - name: Get branch name
      id: get-branch
      uses: ypicard/get-branch-name-github-action@v1
    - uses: actions/checkout@v1
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v1
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install dependencies
      if: always()
      run: |
        python -m pip install --upgrade pip
        pip install alice-sk
    - name: validate all json files
      if: always()
      run: |
        alice-sk validate --paths PublishedSkills/*/*/ --token ${{ secrets.GITHUB_TOKEN }} --branch ${{ steps.get-branch.outputs.branch }}
    - name: test static typing
      if: always()
      run: |
        pip install mypy
        ./.ci/mypy.sh
